@model ApplicantsVm
@{
    ViewData["Title"] = "Applicant list";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Joined date</th>
        </tr>
    </thead>
    <tbody>
    @{
        int count = 0;
    }
    @foreach (var applicant in Model.Applicants)
    {
        <tr>
            <th scope="row">@(++count)</th>
            <td>@applicant.FirstName @applicant.LastName</td>
            <td>@applicant.Email</td>
            <td>@applicant.PhoneNumber</td>
            <td>@applicant.CreatedDate</td>
        </tr>
    }
    </tbody>
</table>
